$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-size-base: 15px;
$font-size-large: 1.067rem;
$font-size-big: 1.7rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size-base;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $very-light-gray;
}

.header {
  padding: 80px 0;
  line-height: 35px;
  color: $very-dark-blue;

  &_title {
    font-size: $font-size-big;
    font-weight: $font-weight-light;
    text-align: center;
  }

  &_highlight {
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    text-align: center;
    display: block;
  }

  &_description {
    margin: 14px 28px 0;
    color: $grayish-blue;
    line-height: 26px;
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    text-align: center;
  }
}
